.anoLine {
	width: 2px;
	background-color: #D8D8D8;
}
.anoText {
    width: 365px;
    display: inline-block;
    left: -15px;
    position: relative;
}

.anoContainer {
    display: inline-block;
}

#mainCanvas {
    position: relative;
    overflow: auto;
    white-space: nowrap;
    background-color: #e5f7ca;
    padding-left: 25px;
}